header{
  border: 1px solid red;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  /* bottom: 50%; */
  height: 100vh;
}

.h-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  border: 1px solid blue;
  position: relative;
  top: 10%;
  left: 10px;
  width: 700px;
  padding-inline: 5px;
  height: 80%;
}

.information-container{
  border: 1px solid red;
  padding: 10px;
  position: relative;
  top: 30px;
  left: 1px;
  right: 5px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.information-container>a,
.information-container>h4,
.information-container>p{
  text-decoration: none;
  margin-block: 0;
  /* padding-left: 30px; */
  margin-inline: 30px;
}

.information-container>a>h1{
  border: 3px solid purple;
  width: 300px;
  text-decoration: none;
}

.information-container>p{
  margin-block: 10px;
  border: 1px solid red;
  width: 300px;
}

.nav-container{
  border: 1px solid red;
}

ul{
  list-style-type: none;
}

li>a{
  text-decoration: none;
}

.text{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.759); 
  transition: all 0.3s;
}

.text:hover{
  padding-left: 12px;
  color: rgb(255, 255, 255);
}

.socm-container{
  border: 1px solid red;
}

.socm-container>ul{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

a>i{
  color: rgba(255, 255, 255, 0.759);
  margin: 10px;
  font-size: 25px;
  transition: all 0.3s;
}

a>i:hover{
  color: rgb(255, 255, 255);
  /* font-size: 40px; */
  padding-bottom: 8px;
}

a>i:active{
  opacity: .30;
}