@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  font-family: Poppins, 'Segoe UI', Roboto;
  /* color: black; */
}

body{
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.942);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1,h4,p{
  color: rgba(255, 255, 255, 0.759);
  /* color: black; */
}

@media (max-width: 800px){
  body{
    grid-template-columns: 1fr;
  }
  
}