header{
  /* border: 2px solid red; */
  position: sticky;
  top: 0;
  height: 700px;
}

.sidebar{
  position: relative;
  top: 0;
  height: 400px;
  margin: 20% 50px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information-container{
  /* border: 1px solid gold; */
  padding-inline: 40px;
  margin-top: 80px;
}

.home-btn>h1,
.information-container>h4,
.information-container>a{
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* border: 1px solid red; */
}

.home-btn>h1{
  font-size: 40px;
  font-weight: 700;
}

.information-container>h4{
  font-size: 20px;
  font-weight: 600;
}

.information-container>p{
  /* border: 1px solid red; */
  width: 350px;
}

.navbar-container{
  /* border: 1px solid red; */
  margin-block: 20px;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.text{
  color: rgba(255, 255, 255, 0.759);
  transition: all 0.3s;
}

.text:hover{
  padding-left: 10px;
}

.social-links-container{
  /* border: 1px solid red; */
  margin-block: 40px;
}

.social-links-container>nav>ul{
  display: flex;
  flex-direction: row;
  align-items: center;
}

a>i{
  color: rgba(255, 255, 255, 0.759);
  font-size: 24px;
  margin: 5px;
  transition: all 0.3s;
}

a>i:hover{
  padding-bottom: 10px;
}

a>i:active{
  opacity: 30%;
}

.more-info{
  margin-block: 20px;
  padding-inline: 40px;
  /* border: 1px solid gold; */
}

.external-links-container>a>button{
  padding: 10px 20px;
  margin: 5px 10px 5px 0px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.get-in-touch-btn{
  border: 1px solid rgba(255, 255, 255, 0.759);
}

.get-in-touch-btn:hover{
  color:  rgba(255, 255, 255, 0.759);
  background-color: transparent;
  padding-inline: 24px;

}

.resume-btn{
  border: 1px solid  rgba(255, 255, 255, 0.759);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.759);
}

.resume-btn:hover{
  color: black;
  background-color: rgba(255, 255, 255, 0.759);
  border: 1px solid black;
  padding-inline: 24px;
}

.get-in-touch-btn:active,
.resume-btn:active{
  opacity: 50%;
}

@media (max-width: 800px){
  header{
    position: relative;
    height: none;
}
  .sidebar{
    /* position: none; */
    padding: 0;
    margin-left: 10%;
  }
}