main{
  /* border: 1px solid blue; */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
/*---------------------------*/

.about-section{
  /* border: 1px solid red; */
  padding-top: 70px;
  padding-inline: 10px;
}

.about-section>.fixed-container{
  /* border: 1px solid blue; */
  margin: 10px 40px;
  padding: 4px 12px;
}

/*---------------------------*/

.experience-section{
  /* border: 1px solid red; */
  padding-top: 70px;
  padding-inline: 10px;
}

.experience-section>.fixed-container{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  margin: 10px 40px;
  padding: 4px 12px;
  transition: all 0.5s;
}

.experience-section>.fixed-container:hover{
  border-radius: 8px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  /* background-color: rgba(31, 46, 74, 0.75); */
  background-color: rgba(64, 85, 104, 0.31);
  margin-top: 5px;
}

.left-section-container{
  /* border: 1px solid red; */
  width: 400px;
  font-size: 14px;
  padding-top: 8.5px;
}

.right-section-container{
  /* border: 1px solid red; */
  margin-left: 12px;
}

.right-section-container>p{
  color: rgba(193, 193, 193, 0.759);
}

/*---------------------------*/
.projects-section{
  /* border: 1px solid red; */
  padding-top: 70px;
}

.project-img{
  border-radius: 6px;
  margin-right: 10px;
  object-fit: cover;
  /* border: 1px solid white; */
  transition: all 1s;
}

.left-container>span{
  font-size: 12px;
  margin-top: 50px;
  margin-left: 4px;
  color: rgba(255, 255, 255, 0.712);
  transition: all 0.5s;
}

.projects-section>.fixed-container{
  /* border: 2px solid green; */
  padding: 10px 12px;
  margin: 40px;
  transition: all 0.5s;
}

.projects-section>.fixed-container:hover{
  border-radius: 8px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  /* background-color: rgba(31, 46, 74, 0.75); */
  background-color: rgba(64, 85, 104, 0.31);
  margin-top: 30px;
  .project-img{
    /* top: -10px; */
    height: 210px;
    width: 400px;
    object-fit: cover;
  }
  .left-container>span{
    font-size: 16px;
    margin-top: 8px;
  }
}

.project-link{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.left-container{
  display: flex;
  flex-direction: column;
  align-items: safe;
}

.right-container{
  /* border: 1px solid red; */
  font-size: 14px;
}

.right-container>p,
.right-container>h4{
  padding: 0;
  margin: 0 0 10px 0;
}

.right-container>p{
  color: rgba(193, 193, 193, 0.759);
}

.right-container>h4{
  font-size: 16px;
}