:root {
  --ff-default: Roboto, sans-serif, arial;

  --fw-thin: 100;
  --fw-lighthin: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  --fs-300: 0.8125rem;    /* 13px */
  --fs-400: 0.875rem;     /* 14px */
  --fs-500: 0.9375rem;    /* 15px */
  --fs-600: 1rem;         /* 16px */
  --fs-700: 1.875rem;     /* 30px */
  --fs-800: 2rem;         /* 32px */
  --fs-900: 2.5rem;       /* 40px */

  --clr-primary: rgb(33, 33, 33);
  --clr-secondary: rgb(50, 50, 50);
  --clr-accent: rgb(37, 91, 199);
  --clr-alt-accent: rgb(20, 126, 255);
  --clr-text:  rgba(254, 254, 254, 0.925);
  --clr-alt-text:  rgb(223, 223, 223);

  --bg-color: var(--clr-primary);
  --bg-altcolor: var(--clr-secondary);
  --bg-accent: var(--clr-accent);
  --bg-alt-accent: var(--clr-alt-accent);
  --ff-color: var(--clr-text);
  --ff-alt-color: var(--clr-alt-text);

}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-default);
  color: var(--ff-color);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
/*---------- */

header {
  background-color: var(--bg-color);
  position: sticky;
  top: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  height: 12svh;
  margin: 0 auto;
}

.left-section {
  height: 5rem;
  display: flex;
  align-items: center;
}

.left-section a {
  color: var(--ff-color);
  text-decoration: none;
  font-size: var(--fs-700);
}

.left-section img {
  height: 3.5rem;
  vertical-align: middle;
}

.right-section {
  max-width: 25rem;
}

.right-section ul{
  padding: 0;
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
}

.right-section ul li a {
  color: var(--ff-color);
  cursor: pointer;  
  display: inline-block;
  position: relative;
  padding-bottom: 0.25rem;
  border-radius: 1rem;
}

.right-section ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10%;
  opacity: 0;
  height: 2px;
  background-color: var(--bg-alt-accent);
  transition: all 0.3s ease;
}

.right-section ul li a:hover::before {
  width: 100%;
  opacity: 1;
}

/* --------------- */

main {
  background-color: var(--bg-altcolor);
  height: 100%;

}

.about {
  width: 90%;
  margin: 0 auto;
  padding: 8rem 0;
}

.tagline-wrapper {
  font-size: var(--fs-700);
  font-weight: var(--fw-medium);
}

.about-wrapper {
  width: 50%;
  margin: 0 auto;
}

.tagline-wrapper {
  margin: 0 auto;
  width: 100%;
  border-radius: 60px;
  background-color: rgb(62, 62, 62);;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.my-avatar {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  object-fit: cover;
  z-index: 1;
  border: 2px solid var(--bg-alt-accent);
  border-style: double;
}

.my-logo-wrapper {
  width: 120px;
  height: 120px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  background-color: var(--bg-accent);
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-logo {
  width: 80px;  
  height: 80px;  
  border-radius: 40px;
}

.about-wrapper  p {
  font-weight: var(--fw-regular);
  text-align: center;
  padding: 2rem 0;
}


.experience {
  padding: 8rem 0;
}

.experience-wrapper {
  display: grid;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  row-gap: 4rem;
}

.row-1 {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.row-wrapper1 h1 {
  font-size: var(--fs-700);
  font-weight: var(--fw-medium);
}

.row-2 {
  text-align: center;
  font-size: var(--fs-600);
  font-weight: var(--fw-lighthin);
  width: 60%;
  margin: 0 auto;
}

.skills-wrapper img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  filter: contrast(100%) grayscale(80%);
  transition: all 0.3s ease;
}

.skills-wrapper img:hover {
  filter: none;
}

.skills-wrapper {
  display: flex;
  justify-content:  center;
  flex-wrap: wrap;
  width: 50%;
  margin: 4rem auto;
  gap: 2rem;
}